<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista Clienti</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap-dark-5@1.1.3/dist/css/bootstrap-dark.min.css" rel="stylesheet"> --> <!--bootstrap dark -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <div class="container mb-5">
      <nav class="container sticky-top bg-body pb-3" id="TitleNav">
        <div class="d-flex flex-row align-items-center">
          <div class="dropdown text-start mt-2 mt-sm-0 me-3">
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="dropdown" ><i class="bi bi-list"></i></button>
            <ul class="dropdown-menu shadow">
              <% if(role == 'admin'){ %>
              <li><a class="dropdown-item" href="/resine">Gestione Resine</a></li>
              <li><a class="dropdown-item" href="/software">Gestione Software</a></li>
              <li><a class="dropdown-item" href="/macchine">Gestione Macchine</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/admin_interface">Interfaccia Amministratore</a></li>
              <li><hr class="dropdown-divider"></li>
              <% } %>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </div>
          <div class="flex-grow-1 text-truncate text-start mt-2 mt-sm-0">
            <h1 class="display-2 d-inline align-middle">Clienti</h1>
          </div>
          <div class="me-1 mt-2 mt-sm-0 text-center">
            <% if (role == 'admin') { %>
              <div class="d-flex flex-row">
                <div class="me-2 mb-1">
                  <button class="btn btn-outline-danger" type="button" name="button" onclick="toggleDelete()" title="Elimina uno o più clienti"><i class="bi bi-x-lg"></i><span class="ms-1 d-none d-md-inline">Elimina Cliente</span></button>
                </div>
                <div class="mb-1">
                  <button class="btn btn-outline-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling" title="Aggiungi rapidamente uno o più clienti"><i class="bi bi-plus-lg"></i><span class="ms-1 d-none d-md-inline">Aggiunta Rapida</span></button>
                </div>
              </div>
            <% } %>
          </div>

        </div>
        <hr>
        <input class="form-control" id="InputRicerca" type="text" placeholder="Cerca..." autofocus>
      </nav>

      <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
          <h3 class="offcanvas-title" id="offcanvasScrollingLabel">Aggiungi Cliente</h3>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body" id="formOffCanvas">
          <form id="mainForm">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="NomeCliente" name="NomeCliente" placeholder="Nome Cliente" required>
              <label for="NomeCliente">Nome Cliente</label>
            </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="Email" name="Email" placeholder="email@esempio.com">
              <label for="Email">Indirizzo Email</label>
            </div>
            <div class="form-floating mb-3">
              <input type="tel" class="form-control" id="Telefono" name="Telefono" placeholder="">
              <label for="Telefono">Numero di Telefono</label>
            </div>
            <div class="form-check mb-1">
              <input class="form-check-input" type="checkbox" value="" id="tokenCheck" checked>
              <label class="form-check-label user-select-none" for="tokenCheck">Utilizza token?</label>
            </div>
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="Token" name="TokenN" placeholder="" value="10">
              <label for="Token">Numero di Token</label>
            </div>

            <fieldset>
              <legend>Resine</legend>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="NomeResina" name="NomeResina" placeholder="">
                <label for="NomeResina">Nome resina</label>
              </div>
              <div class="form-floating mb-3">
                <input type="number" class="form-control" id="Qta" name="Qta" placeholder="">
                <label for="Qta">Quantità</label>
              </div>
            </fieldset>

            <fieldset>
              <legend>Macchine</legend>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="NomeMacchina" name="NomeMacchina" placeholder="">
                <label for="NomeMacchina">Nome Macchina</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="Seriale" name="Seriale" placeholder="">
                <label for="Seriale">Seriale Macchina</label>
              </div>
            </fieldset>

            <fieldset>
              <legend>Software</legend>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="NomeSoftware" name="Software" placeholder="">
                <label for="NomeSoftware">Nome Software</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="ChiaveSoftware" name="ChiaveSoftware" placeholder="">
                <label for="ChiaveSoftware">Chiave Sfotware</label>
              </div>
            </fieldset>
            <div class="d-grid position-sticky bottom-0 bg-white">
              <button type="button" class="btn btn-outline-primary mb-2" name="submitMainForm" onclick="formSubmit()">Aggiungi</button>
              <button type="reset" class="btn btn-outline-secondary" name="formReset">Reset</button>
            </div>

          </form>
        </div>
      </div>

      <div>
        <div class="list-group" id="ListaClienti">
          <% customers.forEach(function(customer){ %>
              <a href="infoCliente?c=<%= customer.id%>" class="fw-semibold list-group-item list-group-item-action" id="element-<%= customer.id%>"><%= customer.value.name %>
                <p class="fw-light"><% if(!customer.value.token.NoToken){ %>
                    token: <%= customer.value.token.Quantity %> | scadenza: <% if(customer.value.token.ExpirationDate){ %><%= new Date(customer.value.token.ExpirationDate).toLocaleString('it-IT', {day:'numeric', month:'numeric', year:'numeric'})%><%}%>
                  <%} else {%>
                    No token
                  <% } %>
                  </p>
              </a> <!-- name invece di NomeCliente perchè lo chiamo così nella view di couchdb-->

          <% }); %>
        </div>
      </div>
      <div>
        <div class="list-group d-none" id="ListaClientiDel">
          <% customers.forEach(function(customer){ %>
            <div class="d-flex" id="elementDelete-<%=customer.id%>">
              <div class="flex-grow-1 rounded-start">
                <a href="infoCliente?c=<%= customer.id%>" class="fw-semibold list-group-item list-group-item-action"><%= customer.value.name %>
                  <p class="fw-light"><% if(!customer.value.token.NoToken){ %>
                      token: <%= customer.value.token.Quantity %> | scadenza: <% if(customer.value.token.ExpirationDate){ %><%= new Date(customer.value.token.ExpirationDate).toLocaleString('it-IT', {day:'numeric', month:'numeric', year:'numeric'})%><%}%>
                    <%} else {%>
                      No token
                    <% } %>
                  </p>
                </a>
              </div>
              <div class="d-flex align-items-stretch float-end ">
                <button type="button" class="btn btn-outline-danger list-group-item rounded-end border-start-0" name="delete" onclick="deleteElement('<%=customer.id%>', '<%= customer.value.rev%>', '<%= customer.value.name%>')">Elimina</button>
              </div>
            </div>
          <% }); %>
        </div>
      </div>

      <div class="toast-container position-fixed bottom-0 start-50 translate-middle-x p-3" id="DeleteAlerts"></div>
      <div class="container mt-2 pb-5 float-none bottom-0">
        <hr>
      </div>
    </div>
    <script>
      $(document).ready(function(){
        $("#InputRicerca").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#ListaClienti a").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            $("#ListaClienti").first().addClass('border-top');
          });
          if (value == '') {
            $("#ListaClienti").first().removeClass('border-top');
          }
        });
      });
      $(window).scroll(function(){
        if ($(this).scrollTop() > 0) {
          $('#TitleNav').addClass('border-bottom');
        } else {
          $('#TitleNav').removeClass('border-bottom');
        }
      });
      $(document).ready(function() {
        $(window).keydown(function(event){
          if(event.keyCode == 13 && $(document.activeElement).parents('#formOffCanvas').length != 0) {
            event.preventDefault();
            formSubmit();
          }
        });
        //to set scroll position across page loads
        let scroll = sessionStorage.getItem("window-scroll");
        if (scroll !== null) {
          window.scroll({top: scroll, left: 0, behavior: 'instant'});
        }
        tokenChecker();
      });
      window.addEventListener("beforeunload", () => {
        sessionStorage.setItem("window-scroll", window.pageYOffset );
      });
      $('#tokenCheck').click(function() {
        tokenChecker();
      });
    </script>
    <script src="script.js" type="text/javascript" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
