<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <title>Modifica Cliente</title>
</head>
<body>
  <!--Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <nav class="container sticky-top bg-white">
    <div class="d-flex flex-row align-items-center">
      <div class="text-start mt-2 mt-sm-0">
        <a href="infoCliente?c=<%= customer.id %>" class="btn btn-outline-danger" title="Annulla cambiamenti e torna indietro"><i class="bi bi-arrow-left"></i><span class="ms-1 d-none d-md-inline">Indietro</span></a>
      </div>
      <div class="flex-grow-1 text-truncate text-start mt-2 mt-sm-0">
        <h1 class="display-3 ms-4 d-inline align-middle" id="customerName" customerId="<%= customer.id%>" customerRev="<%= customer.value.rev%>"><%= customer.value.name %></h1>
      </div>
      <div class="me-1 mt-2 mt-sm-0">
        <a href="infoCliente?c=<%= customer.id %>" class="btn btn-outline-danger" title="Annulla cambiamenti e torna indietro"><i class="bi bi-x-lg"></i><span class="ms-1 d-none d-md-inline">Annulla</span></a>
      </div>
      <div class="mt-2 mt-sm-0">
        <button type="button" name="button" class="btn btn-outline-success" onclick="formUpdate()" title="Salva i cambiamenti"><i class="bi bi-check-lg"></i><span class="ms-1 d-none d-md-inline">Salva</span></button>
      </div>
    </div>
    <hr>
  </nav>
  <div class="container mt-4">
    <div class="row">
      <form class="col-sm" id="mainForm">
        <h3>Info Cliente</h3>
          <div class="form-floating mb-2 text-truncate">
            <input type="email" class="form-control" id="Email" name="Email" placeholder="email@esempio.com" value="<%= customer.value.email %>">
            <label for="Email">Email</label>
          </div>
          <div class="form-floating mb-2 text-truncate">
            <input type="tel" class="form-control" id="Telefono" name="Telefono" placeholder="" value="<%= customer.value.telefono %>">
            <label for="Telefono">Numero di Telefono</label>
          </div>
          <div class="row gx-1">
            <% if(customer.value.token?.NoToken == 'true'){ %>
              <div class="col">
                <div>
                  <input type="text" class="form-control d-none" id="NoToken" name="NoToken" placeholder="" value="true">
                </div>
              </div>
              <button type="button" name="btnTokenAdd" id="tokenAdd" class="btn btn-outline-primary btn-sm">Aggiungi Token</button>
            <% } else { %>
              <div class="col-lg-5">
                <div class="form-floating mb-1 text-truncate">
                  <input type="text" class="form-control" id="TokenId" name="TokenId" placeholder="" value="<%= customer.value.token.TokenId %>" >
                  <label for="TokenId">ID Token</label>
                </div>
              </div>
              <div class="col">
                <div class="form-floating mb-1 text-truncate">
                  <input type="text" class="form-control" id="TokenExpirationDate" name="TokenExpDate" placeholder="" fulldate="<%= customer.value.token.ExpirationDate %>" value="<%= new Date(customer.value.token.ExpirationDate).toLocaleString('it-IT', {day:'numeric', month:'numeric', year:'numeric'}) %>" >
                  <label for="TokenExpirationDate">Scadenza</label>
                </div>
              </div>
              <div class="col">
                <div class="form-floating mb-2 text-truncate">
                  <input type="number" class="form-control" id="TokenQuantity" name="TokenQty" placeholder="" value="<%= customer.value.token.Quantity %>">
                  <label for="TokenQuantity">Quantità</label>
                </div>
              </div>
              <button type="button" name="btnTokenDelete" id="tokenDel" class="btn btn-outline-danger btn-sm">Elimina Token</button>
            <% } %>
          </div>
      </form>
      <div class="col-sm mt-2 mt-sm-0">
        <div class="row">
          <div class="col">
            <h3>Resine Vendute</h3>
          </div>
          <div class="col text-end text-lg-center">
            <button type="button" class="btn btn-outline-primary btn-sm align-text-top pb-1" name="addresin" onclick="addResin()" title="Aggiungi una tipologia di resina"><i class="bi bi-plus-lg"></i></button>
            <datalist id="resinDatalist">
              <% resindb.value.resin.forEach(function(res){ %>
                <option value="<%= res.name %>">
              <% }); %>
            </datalist>
          </div>
        </div>
        <form id="resinForm">
          <% if (customer.value.resine) { %>
            <% var i = 0 %>
            <% customer.value.resine.forEach(function(resin){%>
              <% i++ %>
              <div class="row mb-2 Resine gx-2" id="div<%= i %>">
                <div class="col-7">
                  <input type="text" class="form-control" list="resinDatalist" id="Resina<%= i %>" name="Resina<%= i %>" placeholder="" value="<%= resin.nome %>">
                </div>
                <div class="col-3 text-nowrap">
                  <input type="number" class="form-control" id="Resina<%= i %>" name="Resina<%= i %>num" placeholder="" value="<%= resin.numero %>">
                </div>
                <div class="col text-center">
                  <button type="button" class="btn-close" aria-label="Delete" title="Elimina tipologia di resina"></button>
                </div>
              </div>

              <% }); %>
            <% } %>
        </form>
      </div>

      <div class="col-lg">
        <div class="row">
          <div class="col">
            <h3>Macchine</h3>
          </div>
          <div class="col text-nowrap text-end text-lg-center mb-2">
            <button type="button" class="btn btn-outline-primary btn-sm align-text-top" name="adddevice" onclick="addDevice()" title="Aggiungi una macchina"><i class="bi bi-plus-lg"></i></button>
            <datalist id="deviceDatalist">
              <% devicedb.value.devices.forEach(function(dev){ %>
                <option value="<%= dev.name %>">
              <% }); %>
            </datalist>
          </div>
        </div>
        <form id="deviceForm">
        <% if (customer.value.macchine) { %>
          <% var i = 0 %>
          <% customer.value.macchine.forEach(function(device){ %>
            <% i++ %>
            <div class="row mb-2">
              <div class="col-10 border rounded">
                <div class="form-floating text-nowrap">
                  <input type="text" id="serialeMacchina" class="form-control mb-1 mt-2" name="Macchina<%= i %>seriale" placeholder="" value="<%= device.seriale %>">
                  <label for="serialeMacchina">Seriale</label>
                </div>
                <div class="form-floating text-nowrap">
                  <input type="text" id="modelloMacchina" list="deviceDatalist" class="form-control mb-1" name="Macchina<%= i %>modello" placeholder="" value="<%= device.modello %>">
                  <label for="modelloMacchina">Modello</label>
                </div>
                <div class="form-floating text-nowrap">
                  <textarea id="infoMacchina" class="form-control mt-2 mb-2" name="Macchina<%= i %>info" placeholder="" style="height: 100px" ><%= device.info %></textarea>
                  <label for="infoMacchina">Informazioni Macchina</label>
                </div>
              </div>
              <div class="col-2 text-center">
                <button type="button" class="btn-close" aria-label="Delete" title="Elimina macchina"></button>
              </div>
            </div>
          <% }); %>
        </form>
      </div>
      <% } %>
    </div>
    <div class="row mt-3 pb-5">
      <div class="col-sm-4">
        <div class="row">
          <div class="col">
            <h3>Software</h3>
          </div>
          <div class="col text-end text-lg-center mb-2">
            <button type="button" class="btn btn-outline-primary btn-sm align-text-top" name="addsoftware" onclick="addSoftware()" title="Aggiungi un software"><i class="bi bi-plus-lg"></i></button>
            <datalist id="softwareDatalist">
              <% softwaredb.value.software.forEach(function(sof){ %>
                <option value="<%= sof.name %>">
              <% }); %>
            </datalist>
          </div>
        </div>
        <form id="softwareForm">
          <% if (customer.value.software) { %>
            <% var i = 0 %>
            <% customer.value.software.forEach(function(software){%>
              <% i++ %>
              <div class="row mb-2" id="div<%= i %>">
                <div class="col-10">
                  <input type="text" class="form-control" id="Software<%= i %>" list="softwareDatalist" name="Software<%= i %>" placeholder="" value="<%= software.nome %>">
                </div>
                <div class="col-2 text-center">
                  <button type="button" class="btn-close" aria-label="Delete" title="Elimina software"></button>
                </div>
              </div>
            <% }); %>
          <% } %>
        </form>
      </div>
      <div class="col-sm-8">
        <h3>Assistenze</h3>
        <div class="form-floating text-truncate">
          <textarea id="assistenzeArea" class="form-control" placeholder="" style="height: 250px" ><%= customer.value.assistenze %></textarea>
          <label for="assistenzeArea">Cronologia Assistenze</label>
        </div>
      </div>
    </div>
  </div>
  <script src="script.js" type="text/javascript" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("body").on("click", ".btn-close", function() {
        $( this ).parent().parent().fadeOut(100);
        $( this ).parent().siblings().find("*").val('');
      })
    });

    $(document).ready(function() {
      $("body").on("click", "#tokenDel", function() {
        $( this ).siblings().remove();
        $( this ).siblings().find("*").val(''); //continua poi da qua facendo la cosa per aggiungere un token
        $( this ).fadeOut(100);
        $( this ).parent().append('<button type="button" name="btnTokenAdd" id="tokenAdd" class="btn btn-outline-primary btn-sm">Aggiungi Token</button>');
        $( this ).parent().append('<div class="col"><div><input type="text" class="form-control d-none" id="NoToken" name="NoToken" placeholder="" value="true"></div></div>');
        $( this ).remove();
      })
    });

    $(document).ready(function() {
      $("body").on("click", "#tokenAdd", function() {
        //da fare la parte dell'add
        $( this ).siblings().remove();
        $( this ).parent().append('<div class="col"><div class="form-floating mb-2 text-truncate"><input type="number" class="form-control" id="TokenQuantity" name="TokenQty" placeholder="" value=""><label for="TokenQuantity">Quantità Token</label></div></div>');
        $( this ).parent().append('<button type="button" name="btnTokenDelete" id="tokenDel" class="btn btn-outline-danger btn-sm">Elimina Token</button>');
        $( this ).remove();
      })
    });

    $(document).ready(function() {
      $(window).keydown(function(event){
        if(event.keyCode == 13 && !$(document.activeElement).is('textarea')) {
          event.preventDefault();
          formUpdate();
        }
      });
    });
  </script>

</body>
</html>
