<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>DB Software</title>
  </head>
  <body>
    <div class="container mb-5">
      <nav class="sticky-top bg-white pb-3 mb-1" id="TitleNav">
        <div class="d-flex flex-row align-items-center">
          <div class="text-start mt-2 mt-sm-0">
            <a href="/" class="btn btn-outline-primary" title="Torna indietro"><i class="bi bi-arrow-left"></i><span class="ms-1 d-none d-md-inline">Indietro</span></a>
          </div>
          <div class="flex-grow-1 text-truncate text-start mt-2 mt-sm-0">
            <h1 class="display-2 ms-4 d-inline align-middle">Software</h1>
          </div>
          <div class="me-1 mt-2 mt-sm-0 text-center">
            <div class="d-flex flex-row">
              <div class="mb-1 me-2">
                <button class="btn btn-outline-primary" type="button" onclick="addSoftwareToDb()" title="Aggiungi una riga per inserire altri software"><i class="bi bi-plus-lg"></i><span class="ms-1 d-none d-md-inline">Aggiungi</span></button>
              </div>
              <div class="mb-1 me-2">
                <a href="/" class="btn btn-outline-danger" title="Annulla i cambiamenti e torna indietro"><i class="bi bi-x-lg"></i><span class="ms-1 d-none d-md-inline">Annulla</span></a>
              </div>
              <div class="mb-1">
                <button class="btn btn-outline-success" type="button" onclick="softwaredbUpdate()" title="Salva i cambiamenti"><i class="bi bi-check-lg"></i><span class="ms-1 d-none d-md-inline">Salva</span></button>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </nav>
      <div class="container">
        <form id="softwaredbform" docid="<%= software.id %>" docrev="<%= software.value.rev %>">
        <% if (software.value.resin != []) { %>
          <% var i = 0 %>
          <% software.value.software.forEach(function(s){ %>
            <% i++ %>
            <div class="row pb-2">
              <div class="col-10">
                <input type="text" class="form-control" id="resin<%= i %>" name="Resina<%= i %>" value="<%= s.name %>">
              </div>
              <div class="col-2">
                <button type="button" class="btn-close" aria-label="Delete" title="Elimina tipologia di software"></button>
              </div>
            </div>

          <% }); %>
        <% } %>
          <button type="submit" class="d-none" aria-hidden="true" onsubmit="softwaredbUpdate()"></button> <!--questo è qua solo per la cosa dell'invio, in caso basta metterlo come disabled e invio non va più -->
        </form>
      </div>
    </div>

    <!-- SCRIPT -->
    <script type="text/javascript">
      $(document).ready(function() {
        $("body").on("click", ".btn-close", function() {
          $( this ).parent().parent().fadeOut(50);
          $( this ).parent().siblings().find("*").val('');
        })
      });

      $(document).ready(function() {
        $(window).keydown(function(event){
          if(event.keyCode == 13) {
            event.preventDefault();
            resindbUpdate();
          }
        });
      });

      function addSoftwareToDb() {
        const appended = $('<div class="row pb-2"><div class="col-10"><input type="text" class="form-control" name="added" rev="" value=""></div><div class="col-2"><button type="button" class="btn-close" aria-label="Delete" title="Elimina tipologia di software"></button></div></div>');
        $('#softwaredbform').prepend(appended);
        $('#softwaredbform input').first().focus();
      };
    </script>
    <script src="resindbscript.js" type="text/javascript" crossorigin="anonymous"></script>
    <script src="script.js" type="text/javascript" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
